#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 600px;
}

.note {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 80%;
  height: fit-content;
}

.note li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 90%;
  height: 150px;
  border-radius: 10px;
  background-color: #fff;
  color: #111;
  padding: 10px;
  transition: 0.5s all;
}
.note li:hover {
  background-color: #ddd;
  transition: 0.4s all;
}

form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.note li button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}
.note li button:hover {
  background-color: red;
  color: #fff;
  transition: 0.35s all;
}

.note li a {
  text-decoration: none;
  color: inherit;
}

header h2 {
  text-transform: capitalize;
}
header h1 span {
  color: #646cff;
}

header h1 {
  margin-bottom: 0;
}
header p {
  margin-bottom: 50px;
  font-size: 18px;
}

header p span {
  border-bottom: 2px solid #646cff;
}

@media (max-width: 500px) {
  .note {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 20px auto;
    width: 50%;
  }
}
